.cards {
    border: 2px solid yellow;
    height: 100px;
    width: 100px;
    margin: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    border-radius: 50%;
}  
.total {
    margin: 5px; 
    top: 70px;
    left: 400px;
    height: 380px;
    width: 540px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
.emptybox {
    height: 100px;
    width: 100px;
    margin: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
.gamecompleted{
    margin: 5px;
    top: 100%;
    left: 50%;
    position: relative;
    display: flex;
} 
.gamecompleted h1{
    text-align: center;
}